:root {
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 144rem; }
  @media screen and (max-width: 23.44em) {
    body {
      max-width: 100vw; } }

.container {
  max-width: 100rem;
  margin: 0 auto; }
  @media screen and (max-width: 23.44em) {
    .container {
      max-width: 90%; } }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 23.44em) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif; }

header {
  width: 100%;
  height: 100vh;
  background: url(../../images/desktop/image-hero.jpg) no-repeat center; }
  @media screen and (max-width: 23.44em) {
    header {
      width: 100%;
      height: 100vh;
      background: url(../../images/mobile/image-hero.jpg);
      background-size: 375px 780px;
      background-position: center; } }

.menu {
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 23.44em) {
    .menu {
      display: block; } }
  .menu_button {
    display: block;
    width: 2.2rem;
    height: .3rem;
    border-radius: 1rem;
    background-color: #fff; }
    .menu_button:not(:last-of-type) {
      margin-bottom: .5rem; }
  .menu.active {
    background-color: transparent; }
    .menu.active > .menu_button {
      background-color: white;
      transition: transform .3s linear;
      margin-bottom: 0; }
      .menu.active > .menu_button:first-of-type {
        background-color: white;
        transform: rotate(45deg); }
      .menu.active > .menu_button:nth-of-type(2) {
        display: none; }
      .menu.active > .menu_button:last-of-type {
        background-color: white;
        transform: translateY(-0.3rem) rotate(-45deg); }

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0; }
  @media screen and (max-width: 23.44em) {
    .navigation_logo > img {
      width: 70%; } }
  @media screen and (max-width: 23.44em) {
    .navigation {
      background-color: transparent;
      padding: 3rem 0; } }

.navbar_list {
  list-style: none; }

.navbar_item {
  display: inline-block; }
  .navbar_item:not(:last-of-type) {
    margin-right: 2rem; }

.navbar_link {
  color: white;
  text-decoration: none;
  text-transform: capitalize; }

@media screen and (max-width: 23.44em) {
  .navbar {
    display: none; } }

.hero_text {
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: normal;
  text-transform: uppercase;
  width: 50rem;
  margin-top: 12rem;
  border: 0.1rem solid white;
  padding: 1.5rem; }
  @media screen and (max-width: 23.44em) {
    .hero_text {
      position: absolute;
      margin-top: 0;
      padding: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      width: 90%; } }

.display {
  position: relative;
  width: 100%;
  padding: 10rem 0; }
  @media screen and (max-width: 23.44em) {
    .display {
      width: 100%;
      padding: 10rem 0 rem 0; } }
  .display_image > img {
    width: 70%; }
    @media screen and (max-width: 23.44em) {
      .display_image > img {
        width: 100%;
        margin-bottom: 4rem; } }
  .display_text {
    position: absolute;
    bottom: 10rem;
    right: -14rem;
    background-color: white;
    padding: 8rem 7.5rem 0;
    width: 60%;
    font-weight: 300; }
    @media screen and (max-width: 23.44em) {
      .display_text {
        position: static;
        width: 80%;
        padding: 0;
        margin: 0 auto;
        text-align: center; } }
  .display_title {
    width: 80%;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300; }
    @media screen and (max-width: 23.44em) {
      .display_title {
        font-size: 2.8rem;
        width: 100%;
        text-align: center; } }
  .display_paragraph {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em; }

.gallery {
  display: grid;
  display: -ms-grid;
  width: 100%;
  padding: 0 0 10rem;
  -webkit-grid-columns: repeat(4, minmax(auto, 23.5rem));
  -ms-grid-columns: repeat(4, minmax(auto, 23.5rem));
  grid-template-columns: repeat(4, minmax(auto, 23.5rem));
  -webkit-grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
  -ms-grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
  grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
  gap: 2rem; }
  @media screen and (max-width: 23.44em) {
    .gallery {
      -ms-grid-columns: minmax(auto, 1fr);
      -webkit-grid-columns: minmax(auto, 1fr);
      grid-template-columns: minmax(auto, 1fr);
      -ms-grid-rows: auto repeat(8, minmax(14rem, auto)) auto;
      -webkit-grid-rows: auto repeat(8, minmax(14rem, auto)) auto;
      grid-template-rows: auto repeat(8, minmax(14rem, auto)) auto; } }
  .gallery_header {
    grid-area: 1/1/2/3;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    text-align: left;
    align-self: center; }
    @media screen and (max-width: 23.44em) {
      .gallery_header {
        grid-area: 1/1/2/2;
        font-size: 2.8rem;
        justify-self: center;
        padding-bottom: 3rem; } }
  .gallery_link {
    grid-area: 1/3/2/5;
    text-align: right;
    align-self: center; }
    @media screen and (max-width: 23.44em) {
      .gallery_link {
        grid-area: 10/1/11/2;
        text-align: center;
        padding-top: 2rem; } }
    .gallery_link a {
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid black;
      padding: 1rem 3.5rem;
      color: black;
      letter-spacing: 2px; }
  .gallery > div {
    width: 100%; }
    .gallery > div > img {
      width: 100%;
      height: 100%; }
  .gallery .first {
    grid-area: 2/1/3/2;
    background: url(/images/desktop/image-deep-earth.jpg) no-repeat center;
    position: relative; }
    .gallery .first > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .first {
        grid-area: 2/1/3/2;
        background: url(/images/mobile/image-deep-earth.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .second {
    grid-area: 2/2/3/3;
    background: url(/images/desktop/image-night-arcade.jpg) no-repeat center;
    position: relative; }
    .gallery .second > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .second {
        grid-area: 3/1/4/2;
        background: url(/images/mobile/image-night-arcade.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .third {
    grid-area: 2/3/3/4;
    background: url(/images/desktop/image-soccer-team.jpg) no-repeat center;
    position: relative; }
    .gallery .third > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .third {
        grid-area: 4/1/5/2;
        background: url(/images/mobile/image-soccer-team.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .fourth {
    grid-area: 2/4/3/5;
    background: url(/images/desktop/image-grid.jpg) no-repeat center;
    position: relative; }
    .gallery .fourth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .fourth {
        grid-area: 5/1/6/2;
        background: url(/images/mobile/image-grid.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .fifth {
    grid-area: 3/1/4/2;
    background: url(/images/desktop/image-from-above.jpg) no-repeat center;
    position: relative; }
    .gallery .fifth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .fifth {
        grid-area: 6/1/7/2;
        background: url(/images/mobile/image-from-above.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .sixth {
    grid-area: 3/2/4/3;
    background: url(/images/desktop/image-pocket-borealis.jpg) no-repeat center;
    position: relative; }
    .gallery .sixth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .sixth {
        grid-area: 7/1/8/2;
        background: url(/images/mobile/image-pocket-borealis.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .seventh {
    grid-area: 3/3/4/4;
    background: url(/images/desktop/image-curiosity.jpg) no-repeat center;
    position: relative; }
    .gallery .seventh > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .seventh {
        grid-area: 8/1/9/2;
        background: url(/images/mobile/image-curiosity.jpg) no-repeat center;
        background-size: cover; } }
  .gallery .eighth {
    grid-area: 3/4/4/5;
    background: url(/images/desktop/image-fisheye.jpg) no-repeat center;
    position: relative; }
    .gallery .eighth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
    @media screen and (max-width: 23.44em) {
      .gallery .eighth {
        grid-area: 9/1/10/2;
        background: url(/images/mobile/image-fisheye.jpg) no-repeat center;
        background-size: cover; } }

.footer {
  background-color: black;
  padding: 2rem 0; }
  .footer_navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, auto);
    -webkit-grid-columns: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: repeat(2, minmax(auto, 3rem));
    -webkit-grid-rows: repeat(2, minmax(auto, 3rem));
    grid-template-rows: repeat(2, minmax(auto, 3rem));
    align-items: center; }
    @media screen and (max-width: 23.44em) {
      .footer_navigation {
        -ms-grid-columns: auto;
        -webkit-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: repeat(4, auto);
        -webkit-grid-rows: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        font-size: 3rem; } }
  @media screen and (max-width: 23.44em) {
    .footer_logo {
      grid-area: 1/1/2/2;
      justify-self: center;
      padding: 2rem 0; } }
  .footer_logo > img {
    width: 10rem; }
    @media screen and (max-width: 23.44em) {
      .footer_logo > img {
        width: 15rem; } }
  .footer_menu {
    font-size: 1.1rem; }
    @media screen and (max-width: 23.44em) {
      .footer_menu {
        grid-area: 2/1/3/2; } }
    @media screen and (max-width: 23.44em) {
      .footer_menu > .navbar_list > .navbar_item {
        display: block;
        margin: 0;
        text-align: center;
        padding: 1rem 0; } }
  .footer_icons {
    justify-self: end; }
    @media screen and (max-width: 23.44em) {
      .footer_icons {
        grid-area: 3/1/4/2;
        justify-self: center;
        padding: 2rem 0; } }
    .footer_icons > img {
      width: 1.5rem;
      cursor: pointer;
      align-self: end; }
      @media screen and (max-width: 23.44em) {
        .footer_icons > img {
          width: 2rem; } }
      .footer_icons > img:not(:last-of-type) {
        margin-right: .5rem; }
  .footer_copyright {
    font-size: 1.1rem;
    color: white;
    justify-self: end; }
    @media screen and (max-width: 23.44em) {
      .footer_copyright {
        grid-area: 4/1/5/2;
        font-size: 1.3rem; } }

.attribution {
  background-color: #da91ad; }
  @media screen and (max-width: 23.44em) {
    .attribution {
      text-align: center; } }
