:root {
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 144rem; }
  @media (max-width: 23.44em) {
    body {
      max-width: 100vw; } }

.container {
  max-width: 100rem;
  margin: 0 auto; }
  @media (max-width: 23.44em) {
    .container {
      max-width: 90%; } }

html {
  font-size: 62.5%; }
  @media (max-width: 23.44em) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif; }

header {
  width: 100%;
  height: 100vh;
  background: url(../../images/desktop/image-hero.jpg) no-repeat center; }
  @media (max-width: 23.44em) {
    header {
      width: 100%;
      height: 100vh;
      background: url(../../images/mobile/image-hero.jpg);
      background-size: 375px 780px;
      background-position: center; } }

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0; }
  @media (max-width: 23.44em) {
    .navigation_logo > img {
      width: 45%; } }
  @media (max-width: 23.44em) {
    .navigation {
      background-color: red;
      padding: 1rem 0; } }

.navbar_list {
  list-style: none; }

.navbar_item {
  display: inline-block; }
  .navbar_item:not(:last-of-type) {
    margin-right: 2rem; }

.navbar_link {
  color: white;
  text-decoration: none;
  text-transform: capitalize; }

@media (max-width: 23.44em) {
  .navbar {
    display: none; } }

.hero_text {
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: normal;
  text-transform: uppercase;
  width: 50rem;
  margin-top: 12rem;
  border: 0.1rem solid white;
  padding: 1.5rem; }
  @media (max-width: 23.44em) {
    .hero_text {
      font-size: 2rem;
      width: 80%;
      margin-top: 0; } }

.display {
  position: relative;
  width: 100%;
  padding: 10rem 0; }
  @media (max-width: 23.44em) {
    .display {
      width: 100%;
      padding: 0 0; } }
  .display_image > img {
    width: 70%; }
    @media (max-width: 23.44em) {
      .display_image > img {
        width: 100%;
        padding: 7rem 0; } }
  .display_text {
    position: absolute;
    bottom: 10rem;
    right: -14rem;
    background-color: white;
    padding: 8rem 7.5rem 0;
    width: 60%;
    font-weight: 300; }
    @media (max-width: 23.44em) {
      .display_text {
        position: static;
        width: 80%;
        padding: 0;
        text-align: center; } }
  .display_title {
    width: 80%;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300; }
    @media (max-width: 23.44em) {
      .display_title {
        font-size: 2.5rem;
        width: 80%;
        text-align: center; } }
  .display_paragraph {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em; }

.gallery {
  display: grid;
  display: -ms-grid;
  width: 100%;
  padding: 0 0 10rem;
  grid-template-columns: repeat(4, minmax(1fr, 23.5rem));
  grid-template-rows: auto repeat(2, 1fr);
  -ms-grid-template-rows: auto repeat(2, 1fr);
  gap: 2rem; }
  .gallery_header {
    grid-area: 1/1/2/3;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    text-align: left; }
  .gallery_link {
    grid-area: 1/3/2/5;
    text-align: right; }
    .gallery_link a {
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid black;
      padding: 1rem 3.5rem;
      color: black;
      letter-spacing: 2px; }
  .gallery > div {
    width: 100%; }
    .gallery > div > img {
      width: 100%;
      height: 100%; }
  .gallery .first {
    grid-area: 2/1/3/2;
    position: relative; }
    .gallery .first > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .second {
    grid-area: 2/2/3/3;
    position: relative; }
    .gallery .second > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .third {
    grid-area: 2/3/3/4;
    position: relative; }
    .gallery .third > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .fourth {
    grid-area: 2/4/3/5;
    position: relative; }
    .gallery .fourth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .fifth {
    grid-area: 3/1/4/2;
    position: relative; }
    .gallery .fifth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .sixth {
    grid-area: 3/2/4/3;
    position: relative; }
    .gallery .sixth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .seventh {
    grid-area: 3/3/4/4;
    position: relative; }
    .gallery .seventh > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }
  .gallery .eighth {
    grid-area: 3/4/4/5;
    position: relative; }
    .gallery .eighth > span {
      position: absolute;
      font-size: 2.5rem;
      text-transform: uppercase;
      left: 3rem;
      bottom: 3rem;
      color: white; }

.footer {
  background-color: black;
  padding: 2rem 0; }
  .footer_socials {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .footer_logo > img {
    width: 10rem; }
  .footer_icons > img {
    width: 1.5rem; }
    .footer_icons > img:not(:last-of-type) {
      margin-right: .5rem; }
  .footer_nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem; }
  .footer_copyright {
    color: white; }

.attribution {
  background-color: #da91ad; }
