@mixin textPosition {
    position: relative;

        & > span {
            position: absolute;
            font-size: 2.5rem;
            text-transform: uppercase;
            left: 3rem;
            bottom: 3rem;
            color:$color-white;
        }
}

@mixin respond($bkp) {
    @if ($bkp == phone-XS) {
        @media screen and (max-width: 20em) {
            @content
        };
    }
    @if ($bkp == phone-small) {
        @media screen and (max-width: 23.44em) {
            @content
        };
    }
    @if ($bkp == phone) {
        @media(max-width: 27em) {
            @content
        };
    }
    @if ($bkp == tablet) {
        @media screen and (max-width: 48em) {
            @content
        };
    }
    @if ($bkp == laptop) {
        @media screen and (max-width: 64em) {
            @content
        };
    }
}