// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

:root {
    scroll-behavior: smooth;
}


*,
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 144rem;

    @include respond(tablet) {
        width: 100vw;
    }

    @include respond(phone) {
        max-width: 100vw;
        // width: 100vw;
        // overflow-x: hidden;
    }
}

.container {
    max-width: 100rem;
    margin: 0 auto;

    @include respond(laptop) {
        max-width: 55em;
        margin: 0 auto;
    }

    @include respond(tablet) {
        max-width: 45em;
        margin: 0 auto;
    }

    @include respond(phone) {
        max-width: 90%;
    }    
}

