// ### Body Copy

// - Font size: 15px

// ### Fonts

// - Family: [Alata](https://fonts.google.com/specimen/Alata)
// - Weight: 400

// - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
// - Weight: 300

// font-family: 'Alata', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

html {
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 62.5%;
    }
}

body {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

