header {
    width: 100%; 
    height: 100vh;
    background: url(../../images/desktop/image-hero.jpg) no-repeat center;

    @include respond(phone) {
        width: 100%;
        height: 100vh;
        background: url(../../images/mobile/image-hero.jpg);
        background-size: 375px 780px;
        background-position: center;
    }
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;    

    &_logo > img {
        @include respond(phone) {
            width: 45%;
        }
    }
     
    @include respond(phone) {
        background-color: red;
        padding: 1rem 0;
        // display: inline-block;
    }
}

.navbar {
    &_list {
        list-style: none;    
    }
    
    &_item {
        display: inline-block;
    
        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }

    &_link {
        color: $color-white;
        text-decoration: none;
        text-transform: capitalize;
    }

    @include respond(phone) {
        display: none;
    }
}

.hero_text {
    font-family: 'Alata', sans-serif;
    color: $color-white;
    font-size: 6rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 50rem;
    margin-top: 12rem;
    border: .1rem solid $color-white;
    padding: 1.5rem;

    @include respond(phone) {
        font-size: 2rem;
        width: 80%;
        margin-top: 0;
    }
}