.display {
    position: relative;
    width: 100%;
    padding: 10rem 0;

    @include respond(phone) {
        width: 100%;
        padding: 10rem 0 rem 0;
    }

    &_image > img {
        width: 70%;

        @include respond(phone) {
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    &_text {
        position: absolute;
        bottom: 10rem;
        right: -14rem;
        background-color: $color-white;
        padding: 8rem 7.5rem 0;
        width: 60%;
        font-weight: 300;

        @include respond(phone) {
            position: static;
            width: 80%;
            padding: 0;
            margin: 0 auto;
            text-align: center;
        }
    }

    &_title {
        width: 80%;
        margin-bottom: 1.8rem;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 300;

        @include respond(phone) {
            font-size: 2.8rem;
            width: 100%;
            text-align: center;
        }
    }

    &_paragraph {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.5em;
    }
}

.gallery {
    display: grid;
    display: -ms-grid;
    width: 100%;
    padding: 0 0 10rem;
    grid-template-columns: repeat(4, minmax(auto, 23.5rem));
    -ms-grid-columns: repeat(4, minmax(auto, 23.5rem));
    -webkit-grid-columns: repeat(4, minmax(auto, 23.5rem));
    grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
    -ms-grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
    -webkit-grid-template-rows: minmax(10rem, auto) repeat(2, minmax(30rem, 40rem));
    gap: 2rem;

    @include respond(phone) {
        grid-template-columns: minmax(auto, 1fr);
        grid-template-rows: auto repeat(8, minmax(14rem, auto)) auto;
    }

    &_header {
        grid-area: 1/1/2/3;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 300;
        text-align: left;
        align-self: center;

        @include respond(phone) {
            grid-area: 1/1/2/2;
            font-size: 2.8rem;
            justify-self: center;
            padding-bottom: 3rem;
        }
    }

    &_link {
        grid-area: 1/3/2/5;
        text-align: right;
        align-self: center;

        @include respond(phone) {
            grid-area: 10/1/11/2;
            text-align: center;
            padding-top: 2rem;
        }
        
        & a {
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid $color-black;
            padding: 1rem 3.5rem;
            color: $color-black;
            letter-spacing: 2px;
        }
    }

    & > div {
        width: 100%;

        & > img {
            width: 100%; 
            height: 100%;
        }
    }

    .first {
        grid-area: 2/1/3/2;
        background: url(/images/desktop/image-deep-earth.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 2/1/3/2;
            background: url(/images/mobile/image-deep-earth.jpg) no-repeat center;
            background-size: cover;
        }
    }

    .second {
        grid-area: 2/2/3/3;
        background: url(/images/desktop/image-night-arcade.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 3/1/4/2;
            background: url(/images/mobile/image-night-arcade.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .third {
        grid-area: 2/3/3/4;
        background: url(/images/desktop/image-soccer-team.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 4/1/5/2;
            background: url(/images/mobile/image-soccer-team.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .fourth {
        grid-area: 2/4/3/5;
        background: url(/images/desktop/image-grid.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 5/1/6/2;
            background: url(/images/mobile/image-grid.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .fifth {
        grid-area: 3/1/4/2;
        background: url(/images/desktop/image-from-above.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 6/1/7/2;
            background: url(/images/mobile/image-from-above.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .sixth {
        grid-area: 3/2/4/3;
        background: url(/images/desktop/image-pocket-borealis.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 7/1/8/2;
            background: url(/images/mobile/image-pocket-borealis.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .seventh {
        grid-area: 3/3/4/4;
        background: url(/images/desktop/image-curiosity.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 8/1/9/2;
            background: url(/images/mobile/image-curiosity.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .eighth {
        grid-area: 3/4/4/5;
        background: url(/images/desktop/image-fisheye.jpg) no-repeat center;
        @include textPosition;

        @include respond(phone) {
            grid-area: 9/1/10/2;
            background: url(/images/mobile/image-fisheye.jpg) no-repeat center;
            background-size: cover;
        }
    }
    
}

.footer {
    background-color: $color-black;
    padding: 2rem 0;

    &_socials {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    &_logo > img {
        width: 10rem;
    }
    
    &_icons > img{
        width: 1.5rem;

        &:not(:last-of-type)  {
            margin-right: .5rem;
        }
    }

    &_nav {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    &_copyright {
        color: $color-white;
    }
}

.attribution {
    background-color: rgb(218, 145, 173);
}
