.display {
    position: relative;
    width: 100%;
    padding: 10rem 0;

    &_image {
        width: 70%;
    }

    &_text {
        position: absolute;
        bottom: 10rem;
        right: -14rem;
        background-color: $color-white;
        padding: 7.5rem;
        width: 60%;
    }

    &_title {
        width: 60%;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &_paragraph {
        font-family: 'Josefin Sans', sans-serif
    }
}

// .gallery > img {
//     width: 23rem;
// }

// .gallery > img:not(:last-of-type) {
//     margin-right: 1.5rem;
// }

.gallery_section {
    margin: 2rem 0;
}
